
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myThingsLabel" data-translate="battleApp.things.home.createOrEditLabel">Create or edit a Things</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.things.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.things.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="battleApp.things.pid" for="field_pid">Pid</label>
            <input type="number" class="form-control" name="pid" id="field_pid"
                    ng-model="vm.things.pid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="battleApp.things.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.things.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="battleApp.things.belong" for="field_belong">Belong</label>
            <input type="number" class="form-control" name="belong" id="field_belong"
                    ng-model="vm.things.belong"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
